//Text

//Header
$Header-Color: #ff3e00;
$Header-Size: 4em;

//SubHeader
$SubHeader-Color: #6a6a6a;
$SubHeader-Size: 1.5em;

//Info
$Info-Color: #FFFFFF;
$Info-Size: 1em;

//Logos

//Discord
$DiscordLogo-Color: #5865F2;
$DiscordLogo-ColorSelected: #4751c0;

//Github
$GithubLogo-Color: #000000;
$GithubLogo-ColorSelected: #1d1d1d;

//Twitter
$TwitterLogo-Color: #1DA1F2;
$TwitterLogo-ColorSelected: rgb(31, 128, 189);

//Misc

//Divider
$Divider-Color: #80808050;
$Divider-Width: 2px;
$DividerVert-Length: 130px;
$DividerHoriz-Length: 410px;